.main_education_section{
    position: relative;
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

.education_container{
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 3;
    position: relative;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.university-logo {
    width: 70px;
    height: 40px;
    /* border-radius: 50%; */
    /* object-fit: cover; */
    margin-left: 8px;
    vertical-align: middle;
}